@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Quicksand');

html {
  background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body {
  background: transparent;
  padding-top: 1rem;
}
h1 {
  float: right;
  margin-top: 0.75rem;
  font-family: 'Bungee Shade',regular;
}
h1 small {
  font-family: 'Quicksand', regular;
  font-size: 60%;
  text-shadow: none;
}
.banner {
  position: absolute;
}
.banner img {
  height: 100px;
}

.list-container {
  background-color: whitesmoke;
}

#flick-list {
  margin-bottom: 0;
}
.template {
  display: none;
}

.flick.fav {
  background-color: #62d9dd;
}
.flick + .flick {
  border-top: 1px solid #ddd;
}
.flick-name {
  padding: 0 0.5rem;
}
.flick .actions.button-group {
  margin-bottom: 0;
}
.success-button{
  background-color: gray;
  color: black;
}